server:
  port: ${EUREKA_SERVICE_PORT}

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  application:
    name: eureka-service
  security:
    user:
      name: ${EUREKA_NAME}
      password: ${EUREKA_PASSWORD}
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME}
    prefer-ip-address: ${EUREKA_PREFER_IP_ADDRESS}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: ${DEFAULT_ZONE}
  server:
    enable-self-preservation: ${EUREKA_ENABLE_SELF_PRESERVATION}
    eviction-interval-timer-in-ms: ${EUREKA_EVICTION_INTERVAL}

logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always